.service-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 33, 33);
    color:  rgb(218, 10, 45);
}

.what-i-do {
    font-size: 1.5rem;
    background-color: black;
    padding: 2rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-display {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 3rem;
    height: 25rem;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 16rem;
    color: #fff;
    cursor: pointer;
    border: 0.13rem rgb(250, 23, 61) solid;
    background: transparent;
    height: 21rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgb(250, 23, 61);
}

.html {
    width: 14rem;
    padding-bottom: 0.9rem;
}

.master {
    padding-left: 0.5rem;
    color: rgb(180, 59, 15);
    font-weight: bold;
}

.intermediate {
    color: rgb(177, 7, 7);
    font-weight: bold;
    padding-left: 0.5rem;
}
.ratings {
    margin: 0.5rem 0rem;
}


.more {
    background: transparent;
    color: #fff;
    text-shadow: 0.3rem 0.4rem 1rem #fa4c4c;
    border-radius: 0.5rem;
    border: 0.15rem rgb(250, 23, 61) solid;
    width: 7rem;
    height: 2.6rem;
    font-size: 0.9rem;
    margin: 1rem 0rem;
    border-top: 0;
    border-left: 0;
}
