* {
  padding: 0;
  margin: 0;
}
.App {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1.5rem 4rem;
  background-color: black;
  color: #fff;
  gap: 5.5rem;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}

.logo-name {
  color: rgb(250, 23, 61);
}

.go {
  color: #fff;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: auto;
  gap: 2.5rem;
}

.nav-elem {
  list-style-type: none;
}

.nav-elem:hover {
  border-bottom: 0.15rem  rgb(250, 23, 61) solid;
  cursor: pointer;
}

.hire-btn {
  background-color:  rgb(250, 23, 61);
  border-radius: 0.5rem;
  width: 7rem;
  font-size: 1rem;
  height: 2.4rem;
  cursor: pointer;
  border: 0cap;
  color: #fff;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.persuade-client {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(250, 23, 61);
}